<div class="container-fluid contact" id="contact">

	<div class="container">

			<div class="row">

				<div class="col-6 contact-text-col mobile">

					<h2>Pre register today and become one of the first to benefit</h2>

					Lorem ipsum malesuada ut maecenas fringilla nisl digni fermentum, sit magna tellus, commodo sit cras id et sit orci volutpat, ultrices ullamcorper nunc tortor morbi eu egestas malesuada.


					<ul>

					<li>Quis et rhoncus tellus sit in ornare</li>

					<li>Quis et rhoncus tellus sit in ornare</li>

					<li>Quis et rhoncus tellus sit in ornare</li>

					<li>Quis et rhoncus tellus sit in ornare</li>

					</ul>

				</div>

<!-- end col -->


				<div class="col-12 col-lg-6">

					<form action="/" id="contact_submit" method="POST" class="general-form" novalidate>

					<div class="row form">

						<div class="col-12 col-lg-6">

						  <label for="name" class="form-label">Your Name*</label>

						  <input type="text" class="form-control" name="name" id="name" placeholder="">

						   <label for="phone" class="form-label">Telephone*</label>

						  <input type="text" class="form-control" name="phone" id="phone" placeholder="">

							  <label for="name" class="form-label">No. of Sites*</label>

						  <select class="form-select" name="sites">

							  <option selected>Please select</option>

							  <option value="1 to 9">1 to 9</option>

							  <option value="10 to 24">10 to 24</option>

							  <option value="25 to 99">25 to 99</option>

							  <option value="100 to 249">100 to 249</option>

							  <option value="250 to 499">250 to 499</option>

							  <option value="500 to 999">500 to 999</option>

							  <option value="1,000 to 2,499">1,000 to 2,499</option>

							   <option value="2,500 to 4,999">2,500 to 4.999</option>

							  <option value="5000+">5,000+</option>

							</select>

							

						</div>

<!-- end col -->

						<div class="col-12 col-lg-6">

					

						  <label for="company" class="form-label">Company*</label>

						  <input type="text" class="form-control" name="company" id="company" placeholder="">

							

							  <label for="name" class="form-label">Email*</label>

						  <input type="text" class="form-control" id="name" placeholder="">

							

							  <label for="name" class="form-label">Avg No. of Unique Staff Per Site*</label>

						  	<select class="form-select" name="staff">

							  <option selected>Please select</option>

							  <option>1 to 4</option>

							  <option>5 to 9</option>

							  <option>10 to 24</option>

							 <option>25 to 49</option>

								<option>50+</option>

							</select>

							

						</div>

<!-- end col -->

				  	</div>

<!-- end row -->

						

					

					

					<div class="form">

					

					  <label for="name" class="form-label">Message</label>

						  <textarea rows="3" class="form-control" id="message" name="message" placeholder=""></textarea>

						

						

						<div class="warning">Error message box</div>

					

					 <button type="submit" class="btn">SUBMIT</button>

						

						

						

				   </div>

					

			

				</form>

</div>

<!-- end col -->

				<div class="col-6 contact-text-col desktop">

					

					

					<h2>Pre register today and become one of the first to benefit</h2>

					

					Lorem ipsum malesuada ut maecenas fringilla nisl digni fermentum, sit magna tellus, commodo sit cras id et sit orci volutpat, ultrices ullamcorper nunc tortor morbi eu egestas malesuada.

					

					<ul>

					<li>Quis et rhoncus tellus sit in ornare</li>

					<li>Quis et rhoncus tellus sit in ornare</li>

					<li>Quis et rhoncus tellus sit in ornare</li>

					<li>Quis et rhoncus tellus sit in ornare</li>

					</ul>

					

			

				</div>

<!-- end col -->

			</div>

<!-- end row -->

			

	

	</div>

</div>





<script type="text/javascript">

(function($) {

	$(document).ready(function() {

	//jQuery code goes here


			// After Form Submitted Validation

			$("#contact_submit").click(function(event){

				

				    console.log("contact form clicked");

	

					event.preventDefault(); 


			});


	});
	

})(jQuery);

</script>