<div class="container-fluid align-items-center slider bg-white slider-1" id="future">

	<div>

		<div id="slider-one" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">

			 

			

			

			<div class="carousel-inner">

				

				 <div class="carousel-item active" id="slide_1" data-bs-interval="false">

					 

					 

					  <div class="image-col mobile">

<div class="background-image" style="background-image: url(img/Nexus247_AndroidTablet_Mockup1Alt-e1645100965288.png)">

					  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" width="100%">

</div>

					  </div>

				  	

					  

					  <div class="text-col">

					  <div class="text-container align-middle">

						<a href="https://apps.apple.com/gb/app/c247/id1150528676" target="_blank"><img src="img/AppStoreButton.png"></a> 

						<a href="https://play.google.com/store/apps/details?id=com.continuum247.c247app3&hl=en_GB&gl=US" target="_blank"><img src="img/GooglePlayButton.png"></a>

												<div>

<h2>The future of deployment chain management</h2>

<p>The Nexus247 app provides all the C247 scheduling, time and attendance, incident reporting, timesheet confirmation and processing.</p>

<ul>

<li>No more <strong>chasing late timesheets</strong>

</li>

<li>No more<strong> invoices held up with queries</strong> from site managers</li>

<li>No more <strong>rushed timesheet arbitration</strong> on a Monday morning</li>

<li>No more<strong> missing incident reports</strong>

</li>

<li>No more <strong>errors/paper/excuses</strong>

</li>

</ul>

<p><a class="btn desktop scroll-link" href="#contact">PRE REGISTER</a></p>

</div>

											  </div>

					  </div>



					  <div class="image-col background-image desktop" style="background-image: url(img/Nexus247_AndroidTablet_Mockup1Alt-e1645100965288.png)">

					  </div>

				

					

				</div>

				 

				  <div class="carousel-item" id="slide_2" data-bs-interval="false">

				  	

					   <div class="image-col mobile">

<div class="background-image" style="background-image: url(img/Nexus247_AndroidTablet_Mockup2Alt-e1645101041834.png)">

					  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" width="100%">

</div>

					  </div>

					

					  <div class="text-col">

					  <div class="text-container">

						<a href="https://apps.apple.com/gb/app/c247/id1150528676" target="_blank"><img src="img/AppStoreButton.png"></a> 

						<a href="https://play.google.com/store/apps/details?id=com.continuum247.c247app3&hl=en_GB&gl=US" target="_blank"><img src="img/GooglePlayButton.png"></a>

												<div>

<h2>Take back control of your operations</h2>

<p>We have developed our Nexus247 solution for our corporate users to be able to provide a fully white labelled and managed solution to their management oversight needs.</p>

<p>By deploying devices directly to each site, we can avoid issues traditionally found in environments where staff/providers are required to mark their attendance themselves using their own devices.</p>

<p>Using the latest 3D printing technology, we have produced our own proprietary mounting solution which can be tailored to each specific environment you need to deploy to.</p>

<p><a class="btn desktop scroll-link" href="#contact">PRE REGISTER</a></p>

</div>

											  </div>

					  </div>



					  <div class="image-col background-image desktop" style="background-image: url(img//Nexus247_AndroidTablet_Mockup2Alt-e1645101041834.png)">

					  </div>

				

					

				</div>

				 

				  <div class="carousel-item" id="slide_3" data-bs-interval="false">

				  	

					    <div class="image-col mobile">

<div class="background-image" style="background-image: url(/img//Nexus247_AndroidTablet_Mockup3Alt-e1645101074783.png)"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" width="100%"></div>

					  </div>

					

					  <div class="text-col">

					  <div class="text-container align-middle">

						<a href="https://apps.apple.com/gb/app/c247/id1150528676" target="_blank"><img src="img//AppStoreButton.png"></a> 

						<a href="https://play.google.com/store/apps/details?id=com.continuum247.c247app3&hl=en_GB&gl=US" target="_blank"><img src="img//GooglePlayButton.png"></a>

												<div>

<h2>Sustainable and scalable</h2>

<p>As your operation and requirements grow, our in house development team are on hand to provide rapid deployment of new solutions.</p>

<p>From integration of financial data to your back of house to oversight of wider teams, we are able to develop and integrate further as per your requirements.</p>

<p><a class="btn desktop scroll-link" href="#contact">PRE REGISTER</a></p>

</div>

											  </div>

					  </div>



					  <div class="image-col background-image desktop" style="background-image: url(img//Nexus247_AndroidTablet_Mockup3Alt-e1645101074783.png)">

					  </div>

				

					

				</div>

				  

				

			  </div>

<!--inner -->

			

			<div class="slider-controls">

				 <div class="row">

					 <div class="col-6 previous" data-bs-target="#slider-one" data-bs-slide="prev"><span class="prev-group" id="prev-button-1"><span class="text">PREVIOUS</span><span class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 36 31"><defs><style>.a{fill:none;stroke:#0c022f;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><line class="a" x1="34.5" y1="15.5" x2="3.5" y2="15.5"></line><polyline class="a" points="15.5 29.5 1.5 15.5 15.5 1.5"></polyline></svg></span></span></div>

				

				

				

				     <div class="col-6 next" data-bs-target="#slider-one" data-bs-slide="next"><span class="next-group" id="next-button-1"><span class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 36 31"><defs><style>.a{fill:none;stroke:#0c022f;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><line class="a" x1="1.5" y1="15.5" x2="32.5" y2="15.5"></line><polyline class="a" points="20.5 1.5 34.5 15.5 20.5 29.5"></polyline></svg></span><span class="text">NEXT</span></span></div>

				</div>

			

			    

			</div>

		

		<div class="cta mobile scroll-link"><a class="btn" href="#contact">PRE REGISTER</a></div>

		

	

			 

		</div>

	</div>

<!-- container -->

</div>



<script type="text/javascript">

(function($) {

	



$(document).ready(function(){

	

    $("#prev-button-1").click(function(event){

         $('html,body').animate({scrollTop: $('#future').offset().top}, 600, "linear");

	

			});



    $("#next-button-1").click(function(event){

         $('html,body').animate({scrollTop: $('#future').offset().top}, 600, "linear");

	

			});



	

    $( "a.nav-link" ).click(function( event ) {

        event.preventDefault();

        $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top}, 600, "linear");

    });

	

	 $( "a.scroll-link" ).click(function( event ) {

        event.preventDefault();

        $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top}, 600, "linear");

    });


 });


})(jQuery);

</script>