<div class="container-fluid align-items-center slider bg-dark text-white slider-2" id="enterprise">

	<div>

		<div id="slider-two" class="carousel carousel-dark slide" data-bs-interval="false" data-bs-ride="carousel">


			<div class="carousel-inner">

				

				 <div class="carousel-item active" id="slide_4" data-bs-interval="false">

				  	

					  <div class="image-col mobile" style="background-image: url(img/Nexus247Enterprise_MacBookPro_Mockup1Alt.png)">

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAlCAQAAABrYji1AAAAJUlEQVR42u3MMQ0AAAwDoNW/6SXV0BMEkJuKTqfT6XQ6nU6nqwfkXAAmkS77ZAAAAABJRU5ErkJggg==" width="100%">

					  </div>

					 

					  <div class="text-col">

						

												<div>

<h2>Nexus247 Enterprise –<br>

Partnering to provide peace of mind</h2>

<p>The Nexus247 Enterprise package includes additional features such as live fulfilment information including risk assessments based on likelihood of a shift not being fulfilled vs time until the shift.</p>

<p>Crucially, this can be provided to multi-site operators at no cost through our partnership programme. This provides site operators a greater level of oversight and control than every before of not only what is happening at their sites, but what is due to occur.</p>

<p>Our dashboards provide incredible oversight and value from the moment you start. However, included in our package is full 24/7 support and development to ensure we deliver what you need as your operations grow.</p>

<p><a class="btn desktop scroll-link" href="#contact">PRE REGISTER</a></p>

</div>

											  </div>



					  <div class="image-col desktop" style="background-image: url(img/Nexus247Enterprise_MacBookPro_Mockup1Alt.png)">

					  </div>

				

					

				</div>

				 

				  <div class="carousel-item" id="slide_5" data-bs-interval="false">

				  	

					

					   <div class="image-col mobile" style="background-image: url(img/Nexus247Enterprise_MacBookPro_Mockup1Alt.png)">

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAlCAQAAABrYji1AAAAJUlEQVR42u3MMQ0AAAwDoNW/6SXV0BMEkJuKTqfT6XQ6nU6nqwfkXAAmkS77ZAAAAABJRU5ErkJggg==" width="100%">

					  </div>

					 

					  <div class="text-col">

						

												<div>

<h2>Your solution, your brand</h2>

<p>The Nexus247 solution is branded and customised to be a seamless extension of yours and your suppliers existing operations and IT infrastructure.</p>

<p>We Integrate directly with Sage 50 and 200 as well as most major accounts systems. Furthermore, our inhouse development team can integrate with bespoke systems at no additional cost.</p>

<p>Fully secure and compliant to ISO27001 and 9001, with all data encrypted using SSL256 during transmission and storage, you can be confident that your data is secure and our solutions can integrate with your wider requirements.</p>

<p><a class="btn desktop scroll-link" href="#contact">PRE REGISTER</a></p>

</div>

											  </div>



					  <div class="image-col desktop" style="background-image: url(img/Nexus247Enterprise_MacBookPro_Mockup2Alt.png)">

					  </div>

				

					

				</div>

				 

				  <div class="carousel-item" id="slide_6" data-bs-interval="false">

				  	

					

					  <div class="image-col mobile" style="background-image: url(img/Nexus247Enterprise_MacBookPro_Mockup3Alt.png)">

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAlCAQAAABrYji1AAAAJUlEQVR42u3MMQ0AAAwDoNW/6SXV0BMEkJuKTqfT6XQ6nU6nqwfkXAAmkS77ZAAAAABJRU5ErkJggg==" width="100%">

					  </div>

					 

					  <div class="text-col">

						

												<div>

<h2>Transparency and oversight <br class="desktop-br">is at our core</h2>

<p>With the latest updates from HMRC, IR35 legislation passes the obligation to ensure staff are engaged correctly on to the operators.</p>

<p>By ensuring your providers utilise the C247 platform and the Nexus247 infrastructure, you can see all compliance information such as engagement and SIA licencing checks of all staff operating on your sites.</p>

<p><a class="btn desktop scroll-link" href="#contact">PRE REGISTER</a></p>

</div>

											  </div>



					  <div class="image-col desktop" style="background-image: url(img/Nexus247Enterprise_MacBookPro_Mockup3Alt.png)">

					  </div>

				

					

				</div>

				  

				

			  </div>

<!--inner -->

			

			<div class="slider-controls">

				 <div class="row">

					 <div class="col-6 previous" data-bs-target="#slider-two" data-bs-slide="prev"><span class="prev-group" id="prev-button-2"><span class="text">PREVIOUS</span><span class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 36 31"><defs><style>.a{fill:none;stroke:#0c022f;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><line class="a" x1="34.5" y1="15.5" x2="3.5" y2="15.5"></line><polyline class="a" points="15.5 29.5 1.5 15.5 15.5 1.5"></polyline></svg></span></span></div>

				

				

				

				     <div class="col-6 next" data-bs-target="#slider-two" data-bs-slide="next"><span class="next-group" id="next-button-2"><span class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 36 31"><defs><style>.a{fill:none;stroke:#0c022f;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><line class="a" x1="1.5" y1="15.5" x2="32.5" y2="15.5"></line><polyline class="a" points="20.5 1.5 34.5 15.5 20.5 29.5"></polyline></svg></span><span class="text">NEXT</span></span></div>

				</div>

			</div>

			 

		<div class="cta mobile scroll-link"><a class="btn" href="#contact">PRE REGISTER</a></div>

		  

		

	

		</div>

	</div>



</div><!-- container -->



<script type="text/javascript">

(function($) {

	

	

	    $(document).ready(function(){

    $("#prev-button-2").click(function(event){

         $('html,body').animate({scrollTop: $('#enterprise').offset().top}, 600, "linear");

	

			});

		});

	

	 $(document).ready(function(){

    $("#next-button-2").click(function(event){

         $('html,body').animate({scrollTop: $('#enterprise').offset().top}, 600, "linear");

	

			});

		});

	

})(jQuery);

</script>	