@page
@model Nexus_1_WebApp.Pages.CookiesModel
@{
}


<div class="wrapper site-gradient text-white plain-page" id="full-width-page-wrapper">

	<div class="container" id="content">

		<div class="row">

			<div class="col-12 content-area" id="primary">

				<main class="site-main mb-5" id="main" role="main">

					
<article class="post-336 page type-page status-publish hentry" id="post-336">

	<header class="entry-header">
		
		<div class="brand">OPUSAPEIRO</div>

		<h1 class="entry-title">Cookie policy</h1>
	</header><!-- .entry-header -->

	
	<div class="entry-content">

		<p>Please read this cookie policy (“cookie policy”, “policy”) carefully before using the Nexus247 website (“website”, “service”) operated by OpusApeiro Limited (“us”, ‘we”, “our”).</p>
<h3>What are cookies?</h3>
<p>Cookies are simple text files that are stored on your computer or mobile device by a website’s server. Each cookie is unique to your web browser. It will contain some anonymous information such as a unique identifier, website’s domain name, and some digits and numbers.</p>
<h3>What types of cookies do we use?</h3>
<p><strong class="bold">Necessary cookies</strong> allow us to offer you the best possible experience when accessing and navigating through our website and using its features. For example, these cookies let us recognise that you have created an account and have logged into that account.</p>
<p><strong class="bold">Functionality cookies</strong> let us operate the site in accordance with the choices you make. For example, we will recognise your username and remember how you customized the site during future visits.</p>
<p><strong class="bold">Analytical cookies</strong> enable us and third-party services to collect aggregated data for statistical purposes on how our visitors use the website. These cookies do not contain personal information such as names and email addresses and are used to help us improve your user experience of the website.</p>
<h3>How to delete cookies?</h3>
<p>If you want to restrict or block the cookies that are set by our website, you can do so through your browser setting.</p>
<h3>Contacting us</h3>
<p>If you have any questions about this policy or our use of cookies, please contact us by email on <a href="mailto:domore@c247.live">domore@c247.live</a>.</p>
<p><a class="btn" href="img/OpusApeiro_CookiePolicyFeb2022.pdf" target="_blank" rel="noopener">Download as PDF</a></p>

	</div>
<!-- .entry-content -->

	<footer class="entry-footer">

		
	</footer><!-- .entry-footer -->

</article><!-- #post-## -->

				</main><!-- #main -->

			</div>
<!-- #primary -->

		</div>
<!-- .row end -->

	</div>
<!-- #content -->
	


</div>
<!-- #full-width-page-wrapper -->

