@page
@model IndexModel

<div class="menu-bg"></div>
<div class="container-fluid hero mixed site-gradient test"  id="hero-mixed">

	

	<div class="mixed layer-2" style="background-image: url(img/Nexus247_AndroidTabletAndBoxAlt-1.png)"></div>

<!-- Nexus247_AndroidTabletAndBoxAlt-1.png -->

	<div class="container control">

        <div class="row">

		<div class="feature">

			<h1>Nexus247</h1>

		

			<div class="sub">

<p><span class="medium">Your</span> resources, on <span class="medium">your</span> site, <br>in <span class="medium">your</span> hands, back under <span class="medium">your</span> control</p>

</div>

			<hr>

		    <div class="power">Powered by C247</div>

			<a class="btn scroll-link" id="future-btn" href="#future">LEARN MORE</a>

		

			</div>

        </div>

		</div>

</div>

<!-- add slider 1 -->
<partial name="_Slider1" />	


<div class="container-fluid double-column" id="oversight">

        <div class="row">

		<div class="col-lg-6 background-image" style="background-image: url(img/MacBookPro_DashboardMockup1Alt-e1645187831592.png)">

	    </div>

		<div class="col-lg-6 text">

		<h2>Fully managed and branded portals for you and your clients</h2>

<p>The Nexus247 solution is branded and customised to be a seamless extension of yours and your clients/suppliers existing operations and IT infrastructure.</p>


<p>We Integrate directly with Sage 50 and 200 as well as most major accounts systems. Furthermore, our inhouse development team can integrate with bespoke systems at no additional cost.</p>

<p>Fully secure and compliant to ISO27001 and 9001, with all data encrypted using SSL256 during transmission and storage, you can be confident that your data is secure and our solutions can integrate with your wider requirements. </p>


				<a class="btn" href="#contact">PRE REGISTER</a>


        </div>
	

		</div>

</div>	


<!-- add slider 1 -->
<partial name="_Slider2" />	



<div class="container-fluid justify-content-center effective" id="register">

	<div class="container bg-white">

	<div class="row">

	

		<div class="col-12 col-lg-5 text-center">

		 <img src="img/Nexus247_MacBookPro_CostEffectiveAndFlexible-1024x644.png">

		</div>

		<div class="col-12 col-lg-7 text">

		<h2>Cost effective and flexible</h2>

		<span class="body">With an average cost of less than £0.14 per hour deployed for security staff and £4.16 per month per staff member, this represents an affordable solution regardless of scale. </span>

			<div class="app-shop mobile">

			<a href="https://apps.apple.com/gb/app/c247/id1150528676" target="_blank"><img src="img/AppStoreButton.png"></a> 

			<a href="https://play.google.com/store/apps/details?id=com.continuum247.c247app3&hl=en_GB&gl=US" target="_blank"><img src="img/GooglePlayButton.png"></a>

			</div>

		<div class="buttons">

<a class="btn" href="#contact">PRE REGISTER</a>

			<div class="app-shop desktop ">

			<a href="https://apps.apple.com/gb/app/c247/id1150528676" target="_blank"><img src="img/AppStoreButton.png"></a> 

			<a href="https://play.google.com/store/apps/details?id=com.continuum247.c247app3&hl=en_GB&gl=US" target="_blank"><img src="img/GooglePlayButton.png"></a>

			</div>



		</div>

		</div>


	</div>

    </div>

</div>


<!-- add slider 1 -->
<partial name="_Contact" />	