@page
@model PrivacyModel

<div class="wrapper site-gradient text-white plain-page" id="full-width-page-wrapper">

	<div class="container" id="content">

		<div class="row">

			<div class="col-12 content-area" id="primary">

				<main class="site-main mb-5" id="main" role="main">

					
<article class="post-327 page type-page status-publish hentry" id="post-327">

	<header class="entry-header">
		
		<div class="brand">OPUSAPEIRO</div>

		<h1 class="entry-title">Privacy policy</h1>
	</header><!-- .entry-header -->

	
	<div class="entry-content">

		<p>OpusApeiro Limited has a requirement and responsibility to protect and take all reasonable measures to ensure the privacy of all stakeholders of our operations and their respective data.</p>
<p>Within our terms and conditions of use, the following Data Protection and privacy policy details how we store, use and when appropriate disclose all stakeholder data. Depending on the nature of the data, we will act as either data processor, data controller or both.</p>
<p>As per our terms and conditions, this policy may be subject to change, so please ensure you check our website regularly for any further changes.</p>
<p>OpusApeiro Limited is a provider of online staff and business management services as well as telephony-based services both automated and manually handled. We are registered in England and Wales under company number <strong>08776540</strong> and have our registered office at <strong>Old Market Studios, 68 Old Market, Bristol, BS2 0EJ</strong>.</p>
<p>The new regulations dictate that we only process any personal data if we have reason to do so. The reasons such data will be processed include without limitation, your consent, performance of a contract and to contact you within the context of the preceding purposes.</p>
<p>Data shall be collected when you contact us either by telephone, email or through our online support facilities. We may also collect meta data or direct data when you apply, log in, or utilise the platform via the web portals, or mobile app.</p>
<p>If you provide personal data about any third party such as staff, clients or any other stakeholder within your business/operations, you warrant that you have obtained the express consent from them for the disclosure and use of such data.</p>
<p>If you sign consent of this policy as a member of staff of a OpusApeiro Limited client, then you agree to the terms of use within this, and OpusApeiro Limited acting as proscribed within this document.</p>
<p>Data which may be automatically collected, but without limitation shall include IP addresses, device specific information, geolocation information, server logs, and unique application numbers.</p>
<p>Personal data collected may include name, addresses, email address, phone numbers, payment information, national insurance numbers and social security numbers. This shall not be limited in anyway to the above. We also retain records of all contact and communications by you or any third party such as staff or clients on your behalf or about your account with us.</p>
<p>Any video, or graphical representation or content uploaded or sent to us is not subject to our Privacy Notice if published on your website.</p>
<p>We are merely processing data on your behalf within out standard Terms and Conditions and you, and your employer where appropriate are responsible for any applicable legal requirements in respect of your content.</p>
<p>We use information about you in the following ways:</p>
<ul>
<li><span>To process orders or service provision that you have requested of us; To provide you with products and services;</span></li>
<li><span>To comply with our contractual obligations we have with you;</span></li>
<li><span>To help us identify you and any accounts you hold with us;</span></li>
<li><span>To enable us to review, develop and improve the website and services;</span></li>
<li><span>To provide customer care, including responding to your requests if you contact us with a query; To administer accounts, process payments and keep track of billing and payments;</span></li>
<li><span>To detect fraud and to make sure what you have told us is correct;</span></li>
<li><span>To carry out marketing and statistical analysis;</span></li>
<li><span>To review job applications;</span></li>
<li><span>To notify you about changes to our website and services;</span></li>
<li><span>To provide the associated services and facilities for you on behalf of our clients where you are a member of staff/operative of said client.</span></li>
</ul>
<p>We will keep your personal data for the duration of the period you are a customer of OpusApeiro Limited. We shall retain your data only for as long as necessary in accordance with applicable laws.</p>
<p>On the closure of your account, we may keep yours and any data supplied for up to 7 years after you have cancelled your services with us. We may not be able to delete your data before this time due to our legal and/or accountancy obligations. We may also keep it for research or statistical purposes. We assure you that your personal data shall only be used for these purposes stated herein.</p>
<p>With your express instruction, we can anonymise specific third party data within the above period.</p>
<p>We process your data for administration, billing, support and the provision of services. Your data may be sent to third party suppliers both within and outside of the EEA where explicitly required for the purposes of providing the functionality required and requested.</p>
<p>For the avoidance of doubt, we do not and never shall sell your personal data to third parties for marketing or advertising purposes.</p>
<p>We work closely with a number of third parties (including business parties, service providers and fraud protection services) and we may receive information from them about you. These third parties may collect information about you including, but not limited to, your IP address, device-specific information, server logs, device event information, location information, and unique application numbers. We use their features within our website, however, in some instances, they may be acting as data controller.</p>
<p>We may pass your personal data to third parties for the provision of services on our behalf (for example processing your payment). However, we will only ever share information about you that is necessary to provide the service and we have specific contracts in place, which ensure your personal data is secure and will not be used for any marketing purposes.</p>
<p>We may share your information if we are acquired by a third party and therefore your data will be deemed an asset of the business. In these circumstances, we may disclose your personal data to the prospective buyer of our business, subject to both parties entering into appropriate confidentiality undertakings.</p>
<p>Similarly, we may share your personal data if we are under a duty to disclose data in order to comply with any legal obligation or to protect the rights, property, or safety of OpusApeiro Limited, our customers, or others. This includes but is not limited to exchanging information with other companies and organisations for the purposes of fraud protection, credit risk reduction and dispute policies. However, we will take steps with the aim of ensuring that your privacy rights continue to be protected.</p>
<h3>Your rights</h3>
<p>In preventing the use or processing of your personal data, it may delay or prevent us from fulfilling our contractual obligations to you. It may also mean that we shall be unable to provide our services or process the cancellation of your service.</p>
<p>You have the right to object to our use of your personal data, or ask us to delete, remove or stop using it if there is no need for us to keep it. This is known as your right to be forgotten. There are legal and accountancy reasons why we will need to keep your data, but please do inform us if you think we are retaining or using your personal data incorrectly.</p>
<p>You can view, edit or delete your personal data through the <a href="http://www.c247.it/" target="_blank" rel="noopener">www.c247.it</a> portal or mobile app.</p>
<p>You have the right to ask us not to process your personal data for marketing purposes. You can do so by emailing us directly at <a href="mailto:support@c247.it">support@c247.it</a>.</p>
<p>We will not contact you for marketing purposes unless you have given us your prior consent.</p>
<p>You must maintain the accuracy of your information and ensure all your details, including but not limited to, name, address, title, phone number, e-mail address and payment details are kept up to date at all times. You must do this by updating your details within your portal or via the OpusApeiro mobile app.</p>
<p>You have the right to access the information we hold about you. Please email your requests to <a href="mailto:support@c247.it">support@c247.it</a> so that we can obtain this information for you.</p>
<p>We may provide links to third party sites. Since we do not control those websites, we encourage you to review the privacy policies of these third party sites. Any information that is supplied on these sites will not be within our control and we cannot be responsible for the privacy policies and practices of these.</p>
<p>We follow accepted ISO standards to store and protect the personal data we collect, including the use of encryption if appropriate</p>
<p>All information you provide to us is stored on our secured servers within the EEA. From time to time, your information may be transferred to and stored in a country outside the EEA in relation to provision of the services. The laws in these countries may not provide you with the same protection as in the EEA; however, any third party referred to above outside of the EEA has agreed to abide by European levels of data protection in respect of the transfer, processing and storage of any personal data. By providing your data to us, you agree to this transfer and storage. However, we will ensure that reasonable steps are taken to protect your data in accordance with this privacy notice.</p>
<p>As the transmission of information via the internet is not completely secure, we cannot guarantee the security of your data transmitted to our site and any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.<br>
Any sensitive data (payment details for example) are encrypted and protected.</p>
<p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of our website, you are responsible for keeping the password confidential. We ask you not to share a password with anyone.</p>
<p>We agree to take reasonable measures to protect your data in accordance with applicable laws and in accordance with our Standard Terms and Conditions:<br>
In the event of a data breach, we shall ensure that our obligations under applicable data protection laws are complied with where necessary.</p>
<p>You have the right to make a complaint about how we process your personal data to the <a href="https://ico.org.uk/concerns/" target="_blank" rel="noopener">Information Commissioner</a>.</p>
<p>Information Commissioner’s Office<br>
Wycliffe House<br>
Water Lane<br>
Wilmslow<br>
Cheshire<br>
SK9 5AF</p>
<p>Telephone: <a href="tel:03031231113">0303 123 1113</a></p>
<p><a class="btn" href="img/OpusApeiro_PrivacyPolicyFeb2022.pdf" target="_blank" rel="noopener">Download as PDF</a></p>

	</div>
<!-- .entry-content -->

	<footer class="entry-footer">

		
	</footer><!-- .entry-footer -->

</article><!-- #post-## -->

				</main><!-- #main -->

			</div>
<!-- #primary -->

		</div>
<!-- .row end -->

	</div>
<!-- #content -->
	


</div>
<!-- #full-width-page-wrapper -->
